@import "katex/dist/katex.min.css";

:root{

--white:#FFFFFF;

--blue:#00274c;

--orange:#D86018;

--maize:#ffcb05;

--black:#131516;

--ash:#989C97;

}

body{

background:var(--bg);

color:var(--text);

font-family:
Georgia,
serif;

margin:0;

}

.page{

max-width:950px;

margin:auto;

padding:40px;

}

header{

display:flex;

justify-content:space-between;

margin-bottom:100px;

}

nav{

display:flex;

gap:32px;

}

h1{

font-size:4rem;

line-height:1.1;

color:var(--blue);

font-weight:400;

}

h2{

color:var(--orange);

font-size:1rem;

letter-spacing:.1em;

text-transform:uppercase;

}

p{

line-height:1.8;

max-width:65ch;

}

section{

margin-bottom:100px;

}

a{

color:var(--blue);

text-decoration:none;

}

a:hover{

color:var(--orange);

}
