@import "katex/dist/katex.min.css";

@font-face {

font-family:

"OCRA";

src:

url("public/fonts/OCRAEXT.ttf")
format("truetype");

font-weight:

normal;

font-style:

normal;

}

@font-face {

font-family:

"Bahn";

src:

url("/fonts/bahnschrift.ttf")
format("truetype");

font-weight:

lighter;

font-style:

light;

}

:root{

--bg-text:#FFFFFF;

--bg-header:#00274c;

--page-other:#D86018;

--page-curr:#ffcb05;

--text:#131516;

--back:#989C97;

}

* {
box-sizing: border-box;
margin: 0;
}

html,
body {
min-height: 100%;
}

/* outer area */

body {

background:

var(--ash);

font-family:

Bahnschrift,
sans-serif;

}

/* WHITE PAGE */

.site-shell {

background:

var(--white);

width:

min(
1000px,
calc(100vw - 120px)
);

min-height:

100vh;

margin:

16px auto;

}