---
import BaseLayout
from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Luke Beaudoin">

<section class="hero container">

<div>

<p>

UNIVERSITY OF MICHIGAN

</p>

<h1>

Developing<br>

Knowledge.

</h1>

<h2>

Pursuing Wisdom.

</h2>

<p>

Math.

Robotics.

Philosophy.

</p>

</div>

</section>

</BaseLayout>

<style>

.hero{

padding-top:120px;

}

h1{

font-size:5rem;

color:var(--blue);

}

h2{

color:var(--orange);

font-size:3rem;

}

</style>