---
import BaseLayout
from "../layouts/BaseLayout.astro";
---

<BaseLayout
title="Luke"
>

<section>

<div class="text">

<p>

I am an undergraduate student at the University of Michigan majoring in Math and Physics. My curiosities include robotics ethics, soft robotics, philosophy, theology, and complex systems.  
In the future, I intend to go to graduate school somewhere between Applied Math, Robotics, and Physics. Check back in a few years to find out my research interests.

</p>
<br>
<p>

I think it is important to study the interactions within our ever-complicated universe, and I believe the current wave of automation
crashing over society raises distinct questions about how we live "the good life." 

</p>
<br>

<p>
In particular, I've taken an interest in thinking about the ethical components to robots. This comes in many forms: <br>
In what ways are we allowed to build robots? <br>
Could robots have rights? <br>
How should robotics be used in the economy? <br>
And, rather pressingly, how should robots be used in war? <br>
Assuming there are answers to these questions, they certainly aren't easy to find. 
</p>

<p>
<br>
On this site, you can find my past research experience, and also my writing as I reflect on things 
ethical, mathematical, Christian, and personal. Perhaps I'll even develop some positions along the way.
</p>
<br>

<p> Join me as we explore this wacky, heartfelt, and rapidly robotizing world we live in.</p>

</div>

<aside>

<img
src="/me.jpg"
/>


<img
src="/robot.jpg"
/>

</aside>

</section>

</BaseLayout>

<style>

section {

display:

grid;

grid-template-columns:

2fr 240px;

gap:

60px;

}

.text {

font-family: "Bahn";

font-size:

1rem;

}

aside {

display:

flex;

flex-direction:

column;

gap:

30px;

}

.placeholder {



}

img {

width:

100%;

border:

4px solid black;

}

</style>