

---
import BaseLayout
from "../layouts/BaseLayout.astro";
---

<BaseLayout
title="Luke"
>

<section>

<div class="text">

<p>

<p>

WIP

</p>

</div>

</section>

</BaseLayout>

<style>

section {

display:

grid;

grid-template-columns:

2fr 240px;

gap:

60px;

}

.text {

font-family: "Bahn";

font-size:

1rem;

}



</style>