

---
import BaseLayout
from "../layouts/BaseLayout.astro";
---

<BaseLayout
title="Luke"
>

<section>

<div class="text">

<p>

<p>

Writing Ideas: <br>
- Robotics Ethics is High-Stakes <br>
- Conscious Chatbots as Better Things to Talk to <br>
- Robots: Moral Patients? <br>
- <i>Imago Dei</i> and Human-made Automata <br>
- Foundations and Thoughtful Christianity <br>
- I Don't Think Christians Can Dismiss Universalism <br>
- Christian Pacifism in Consideration with War Robots <br>
- The Music I Like <br>
- Reflections on MATH 295/296 (or, How I Learned to Stop Worrying and Love the Struggle) <br>
- Trying to Learn About Emergence and Complexity Theory <br>

</p>

skibidi bop mm dada
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>dang bro

</p>

</div>

</section>

</BaseLayout>

<style>

section {

display:

grid;

grid-template-columns:

2fr 240px;

gap:

60px;

}

.text {

font-family: "Bahn";

font-size:

1rem;

}



</style>