---
/*
setup for colored connectors
*/

const {
currentPath
} = Astro.props;

const links = [

{
name:
"Home",

href:
"/"
},

{
name:
"Research",

href:
"/research"
},

{
name:
"Writing",

href:
"/writing"
},

{
name:
"CV",

href:
"/CV"
},

{
name:
"Random",

href:
"/random"
}

];
---

<header>

<div class="left">

<h1>

LUKE BEAUDOIN

</h1>

<p>

robots,
math,
ethics,
questions

</p>

</div>

<nav>

{

links.map(
link => (

<a

href={link.href}

class={
    (
        link.href === "/writing"
            ? currentPath.startsWith("/writing")
            : currentPath === link.href
    )
        ? "current"
        : ""
}

>

{link.name}

</a>

)

)

}

</nav>

</header>

<style>

header {

background:

var(--bg-header);

border:

8px solid black;

padding:

20px;

display:

flex;

justify-content:

space-between;

align-items:

start;

}

/*
LEFT
*/

.left {

display:

flex;

flex-direction:

column;

}

/*
TITLE
*/

.left h1 {

font-family:

"OCRA";

font-size:

4rem;

font-weight:

400;

letter-spacing:

2px;

color:

white;

}

/*
subtitle
*/

.left p {

font-family:

"OCRA";

margin-top:

8px;

font-size:

1.2rem;

color:

var(--back);

}

/*
STACKED NAV
*/

nav {

display:

flex;

flex-direction:

column;

align-items:

end;

gap:

6px;

}

nav a.current {

color:

var(--page-curr);

}

nav a {

font-family:

"OCRA",
monospace;

font-size:

2rem;

text-decoration:

none;

color:

var(--page-other);

transition:

0.15s;

}

nav a:hover {

transform:

translateX(-10px);

}

</style>