---
import "../styles/global.css";

const { title } = Astro.props;
---

<html>

<head>

<title>{title}</title>

</head>

<body>

<div class="page"></div>

<header>

<a href="/">Hello!</a>

<nav>

<a href="/about">About</a>

<a href="/writing">Writing</a>

<a href="/research">Research</a>

<a href="/resume">CV</a>

</nav>

</header>

<main>

<slot />

</main>

</body>

</html>