---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/article.css";

import {
  getCollection,
  render
} from "astro:content";

export async function getStaticPaths() {

  const posts = await getCollection("writing");

  return posts.map(post => ({
    params: {
      slug: post.id.replace(/\.md$/, "")
    },
    props: {
      post
    }
  }));

}

const { post } = Astro.props;

const { Content } = await render(post);
---

<BaseLayout title={post.data.title}>

<article class="markdown-body">

  <h1>{post.data.title}</h1>

  <p class="description">
    {post.data.description}
  </p>

  <Content />

</article>

</BaseLayout>

<style>

article{

    max-width:800px;
    margin:auto;

}

.description{

    color:#777;
    margin-bottom:3rem;

}

article :global(img){

    max-width:100%;
    height:auto;

}

article :global(h2){

    margin-top:3rem;

}

article :global(p){

    line-height:1.7;

}



</style>